.container {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* align the radars in a column */
  gap: 100px; /* optional: add some gap between the radars */
}

.pagecontainer {
  display: flex;
  padding: 0 15px; /* padding on the sides */
}

.fixed {
  position: fixed;
  /* top: 50px; */
  /* left: 100px; */
  z-index: 1;
  /* margin-top: 100px; */
  border: solid 1px;
  border-color: var(--ifm-color-neutral-lighter);
  background-color: var(--ifm-color-neutral-lightest);
  border-radius: 8px;
  padding: 20px;
}

.fixed > ul  :hover {
  background-color: var(--ifm-color-neutral-lighter);
  border-radius: 4px;
}



.radarCheckbox > span {
  color: var(--ifm-color-neutral-dark);
}

.staticText {
  margin-bottom: 10px; /* Adjust the spacing between the text and the search box */
  color: var(--ifm-color-neutral-darker); /* Adjust this to your preferred color */
  font-size: 13px; /* Adjust the font size as needed */
  font-style: italic;
  width: 220px;
}