.interactivediagramcontainer {
  position: relative;
  width: 100vw;
  background-color: var(--ifm-background-color);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  color: var(--ifm-color-neutral-darkest);
  min-height: 405px;
  max-height: 465px;
  border-color: var(--ifm-color-primary-lightest);
  margin-bottom: 60px;
}

.popUpPrompt {
  position: absolute;
  top: 15px;
  left: 15%;
  width: 70vw;
  height: 405px;
  background-color: rgba(var(--ifm-color-neutral-light-rgb), 0.8);
  z-index: 100;
  border-radius: 8px;
}

.innerPromptBox {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  left: 25%;
  height: 50%;
  top: 20%;
  background-color: var(--ifm-color-neutral-lightest);
  border-radius: 8px;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}
.closeIcon {
  text-align: center;
  width: 25px;
  cursor: pointer;
}

.closeIcon > path {
  fill: var(--ifm-color-neutral-darkest);
}

.closeIcon :hover {
  fill: var(--ifm-color-primary);
}

.promptHeader {
  color: var(--ifm-color-neutral-darkest);
  font-weight: 800;
  border-bottom: 1px solid;
  border-color: var(--ifm-color-neutral-lighter);
  text-align: left;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.promptBody {
  color: var(--ifm-color-neutral-darkest);
  font-size: 95%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  text-align: left;
  border: 8px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.diagramcontent {
  width: 70vw;
  background-color: var(--ifm-color-neutral-lightest);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  white-space: nowrap;
  padding: 30px;
  min-height: 405px;
  max-height: 405px;
  min-width: 865px;
  border-radius: 8px;
}
.diagramcontent:hover {
  cursor: pointer;
}

.cell {
  background-color: var(--ifm-color-neutral-lighter);
  padding: 2px;
  border-radius: 8px;
}

.diagramcontent .toprow {
  /* display: grid; */
  /* grid-template: 1fr / 1fr; */
  /* place-items: center; */
  display: block;
  vertical-align: center;
  width: 94%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

/* .diagramcontent .toprow2 { */
/*   height: 100%; */
/*   width: 100%; */
/*   z-index: 2; */
/*   background-color: var(--ifm-color-primary); */
/*   color: white; */
/*   border-color: var(--ifm-color-primary-dark); */
/* } */

.diagramcontent .bottomrow {
  display: block;
  height: 70%;
  white-space: nowrap;
  min-height: 290px;
}
.diagramcontent .bottomrow .bottomleftcol {
  display: inline-block;
  width: 40%;
  height: 80%;
  overflow: hidden;
  border: 2px dotted;
  margin-right: -15px;
  padding: 10px;
  padding-right: 30px;
  margin-bottom: 30px;
  min-height: 225px;
  border-radius: 8px;
  border-color: var(--ifm-color-primary-lightest);

}

.diagramcontent .bottomrow .bottomleftcol .bottomleftcolleft {
  display: inline-block;
  height: 98%;
  overflow: hidden;
  writing-mode: vertical-lr;
  padding-left: 10px;
  padding-right: 5px;
  margin-left: 10px;
  border-radius: 8px;
  background-color: var(--ifm-color-neutral-lighter);
  
}

.diagramcontent .bottomrow .bottomleftcol .bottomleftcolright .cell {
  width: 100%;
  height: 17.5%;
  overflow: hidden;
  margin-top: 5px;
  border-radius: 8px;
}

.diagramcontent .bottomrow .bottomleftcol .bottomleftcolright {
  display: inline-block;
  height: 100%;
  width: 85%;
  overflow: hidden;
  border-top: none;
}

.diagramcontent .bottomrow .bottomrightcol {
  display: inline-block;
  width: 55%;
  padding: 0px;
  height: 100%;
  border: 2px dotted;
  padding: 10px;
  padding-left: 20px;
  padding-right: 10px;
  min-height: 260px;
  border-radius: 8px;
  border-color: var(--ifm-color-primary-lightest);

}
.diagramcontent .bottomrow .bottomrightcol .bottomrightcolleft {
  display: inline-block;
  height: 100%;
  width: 90%;
  /* overflow: hidden; */
  min-height: 267px;
}

.diagramcontent .bottomrow .bottomrightcol .bottomrightcolright {
  display: inline-block;
  height: 100%;
  overflow: hidden;
  writing-mode: vertical-lr;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  max-height: 268px;
  border-radius: 8px;
  background-color: var(--ifm-color-neutral-lighter);
  margin-bottom: 8px;
}

.diagramcontent .bottomrow .bottomrightcol .bottomrightcolleft .cell {
  width: 98.5%;
  height: 14%;
  overflow: hidden;
  margin-bottom: 5px;
  border-radius: 8px;
}
.diagramcontent .bottomrow .bottomrightcol .bottomrightcolleft .rowcell {
  width: 100%;
  margin-left: -4px;
}
.diagramcontent .bottomrow .bottomrightcol .bottomrightcolleft .rowcell .cell {
  width: 24%;
  height: 100%;
  display: inline-block;
  margin: 0px 4px;
  font-size: 16px;
  border-radius: 8px;
  padding: 2px;
}
.endcell {
  width: 22.5%;
  padding: 2px;
  height: 100%;
  display: inline-block;
  overflow: hidden;
  margin: 0px 4px;
  font-size: 16px;
  border-radius: 8px;
  background-color: var(--ifm-color-neutral-lighter);

}
.interactivediagramcontainer .Modal {
  all: unset;
  background-color: white;
  color: black;
  height: 20px;
  width: 50vw;
}
.endcell:hover {
  cursor: pointer;
  background-color: var(--ifm-color-primary-lightest);
  color: white;
}

.cell:hover {
  cursor: pointer;
  background-color: var(--ifm-color-primary-lightest);
  color: white;
}
.diagramcontent .bottomrow .bottomleftcol .bottomleftcolleft:hover {
  cursor: pointer;
  background-color: var(--ifm-color-primary-lightest);
  color: white;
}
.diagramcontent .bottomrow .bottomrightcol .bottomrightcolright:hover {
  cursor: pointer;
  background-color: var(--ifm-color-primary-lightest);
  color: white;
}

