.features {
  display: flex;
  align-items: center;
  padding: 4rem 0;
  width: 100%;
  background-color: var(--ifm-color-neutral-lightest);
  margin-top: 60px;
}

.featureSvg {
  /* color: var(--ifm-color-primary); */
  height: 96px;
  width: 96px;
}
.missionBg {
  padding: 24px; 
}
.missionDesc {
  max-width: 400px;
}