/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00568c;
  --ifm-color-primary-dark: #004d7e;
  --ifm-color-primary-darker: #004169;
  --ifm-color-primary-darkest: #003454;
  --ifm-color-primary-light: #005f9a;
  --ifm-color-primary-lighter: #006caf;
  --ifm-color-primary-lightest: #0078c4;

  --ifm-color-neutral: #7b7b7b;
  --ifm-color-neutral-dark: #555555;
  --ifm-color-neutral-darker: #434343;
  --ifm-color-neutral-darkest: #262626;
  --ifm-color-neutral-light: #c4c4c4;
  --ifm-color-neutral-lighter: #dfdfdf;
  --ifm-color-neutral-lightest: #f9f9f9;

  /* Hex codes for rgba opacity with variables */
  --ifm-color-neutral-light-rgb: 196, 196, 196;

  --ifm-color-black: #000000;
  --ifm-color-white: #fff;

  --ifm-code-font-size: 95%;

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  --ifm-color-radar-opeartion: #3c6ead;
  --ifm-color-radar-application: #2e7d32;
  --ifm-color-radar-security: #d32f2f;
  --ifm-color-radar-maintenance: #ed6c02;
  --ifm-color-search-radar-label: lightgray;
  --ifm-color-search-radar-border: lightgray;
  --ifm-color-search-radar-border-hover: #3c6ead;

  --ifm-image-portal: url("../../static/img/logo.png");
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  /* --ifm-color-primary: #35b4e6;
  --ifm-color-primary-dark: #1cabe3;
  --ifm-color-primary-darker: #178ebd;
  --ifm-color-primary-darkest: #137297;
  --ifm-color-primary-light: #4ebde9;
  --ifm-color-primary-lighter: #74cbee;
  --ifm-color-primary-lightest: #9ad9f2; */

  --ifm-color-primary-lightest: #00568c;
  --ifm-color-primary-lighter: #004d7e;
  --ifm-color-primary-light: #004169;
  --ifm-color-primary-darkest: #003454;
  --ifm-color-primary-darker: #005f9a;
  --ifm-color-primary-dark: #006caf;
  --ifm-color-primary: #0078c4;

  --ifm-color-neutral: #7b7b7b;
  --ifm-color-neutral-dark: #c4c4c4;
  --ifm-color-neutral-darker: #d9d9d9;
  --ifm-color-neutral-darkest: #e9e9e9;
  --ifm-color-neutral-light: #555555;
  --ifm-color-neutral-lighter: #222222;
  --ifm-color-neutral-lightest: #0c0c0c;

  /* Hex codes for rgba opacity with variables */
  --ifm-color-neutral-light-rgb: 85, 85, 85;

  --ifm-code-font-size: 95%;
  /* --ifm-heading-color: #25a0c2; */

  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  --ifm-color-radar-opeartion: #25a0c2;
  --ifm-color-radar-application: #55b55a;
  --ifm-color-radar-security: #cf6969;
  --ifm-color-radar-maintenance: #eba063;
  --ifm-color-search-radar-label: lightgray;
  --ifm-color-search-radar-border: lightgray;
  --ifm-color-search-radar-border-hover: #3c6ead;

  --ifm-image-portal: url("../../static/img/logo.png");
}

.hero {
  background-color: var(--ifm-color-neutral-lighter);
}

.hero .hero__subtitle {
  font: var(--ifm-heading-font-family);
  font-weight: var(--ifm-font-weight-bold);
  font-size: 35px;
  justify-content: "center";
  align-items: "center";
  color: var(--ifm-color-neutral-darkest);
}

.tagline {
  text-align: left;
  display: flex;
}

.bgimg {
  display: flex;
  background-image: var(--ifm-image-portal);
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
}

.heading {
  padding: 32px;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 149.523%; /* 52.333px */
}

.heading-center {
  margin-top: 12px;
  text-align: center;
}

.footer--dark {
  background-color: var(--ifm-color-black);
  color: var(--ifm-color-white);
  text-align: center;
}

.footer--dark .footer__items :hover {
  color: var(--ifm-color-primary-lightest);
}

.footer__copyright {
  margin-top: 40px;
  color: #c4c4c4;
}

.button--primary {
  color: white;
  background-color: #2984bd;
}
.button--primary:hover {
  color: white;
  background-color: #00568c;
}

html[data-theme="dark"] .navbar .navbar__logo {
  content: url(/img/logo-dark.png);
}

.sliderStyle {
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  display: flex;
  padding-bottom: 20px;
}

.partnerStyle {
  font: var(--ifm-heading-font-family);
  text-align: center;
}

p > img {
  border-radius: 8px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .hero .hero__subtitle {
    font-size: 18px;
    max-width: 100px;
  }
  .tagline {
    width: 100px;
  }
  .hero .button--primary {
    width: 175px;
    font-size: 12px;
    height: 35px;
  }
  .hero .button--secondary {
    width: 175px;
    font-size: 12px;
    height: 35px;
    margin-top: -40px;
  }
  .hero .bgimg {
    background-position: center;
  }
}

/* navbar */
.navbar--calendar-link {
	width: 32px;
	height: 32px;
	padding: 6px;
	margin-right: 6px;
	margin-left: 6px;
	border-radius: 50%;
	transition: background var(--ifm-transition-fast);
}

.navbar--calendar-link:hover {
	background: var(--ifm-color-emphasis-200);
}

.navbar--calendar-link:before {
	content: '';
	height: 100%;
	display: block;
  background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="%23000000" stroke-width="2" stroke-linecap="round"></path></g></svg>');
}

html[data-theme='dark'] .navbar--calendar-link:before {
	background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M3 9H21M7 3V5M17 3V5M6 12H8M11 12H13M16 12H18M6 15H8M11 15H13M16 15H18M6 18H8M11 18H13M16 18H18M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z" stroke="%23ffffff" stroke-width="2" stroke-linecap="round"></path></g></svg>');
}
/* navbar */
.navbar--slack-link {
	width: 32px;
	height: 32px;
	padding: 6px;
	margin-right: 6px;
	margin-left: 6px;
	border-radius: 50%;
	transition: background var(--ifm-transition-fast);
}

.navbar--slack-link:hover {
	background: var(--ifm-color-emphasis-200);
}

.navbar--slack-link:before {
	content: '';
	height: 100%;
	display: block;
  background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M13 10C13 11.1046 13.8954 12 15 12C16.1046 12 17 11.1046 17 10V5C17 3.89543 16.1046 3 15 3C13.8954 3 13 3.89543 13 5V10ZM5 8C3.89543 8 3 8.89543 3 10C3 11.1046 3.89543 12 5 12H10C11.1046 12 12 11.1046 12 10C12 8.89543 11.1046 8 10 8H5ZM15 13C13.8954 13 13 13.8954 13 15C13 16.1046 13.8954 17 15 17H20C21.1046 17 22 16.1046 22 15C22 13.8954 21.1046 13 20 13H15ZM10 22C8.89543 22 8 21.1046 8 20L8 15C8 13.8954 8.89543 13 10 13C11.1046 13 12 13.8954 12 15V20C12 21.1046 11.1046 22 10 22ZM8 5C8 3.89543 8.89543 3 10 3C11.1046 3 12 3.89543 12 5V7H10C8.89543 7 8 6.10457 8 5ZM3 15C3 16.1046 3.89543 17 5 17C6.10457 17 7 16.1046 7 15V13H5C3.89543 13 3 13.8954 3 15ZM17 20C17 21.1046 16.1046 22 15 22C13.8954 22 13 21.1046 13 20V18H15C16.1046 18 17 18.8954 17 20ZM22 10C22 8.89543 21.1046 8 20 8C18.8954 8 18 8.89543 18 10V12H20C21.1046 12 22 11.1046 22 10Z" fill="%23000000"></path></g></svg>');
}

html[data-theme='dark'] .navbar--slack-link:before {
	background: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M13 10C13 11.1046 13.8954 12 15 12C16.1046 12 17 11.1046 17 10V5C17 3.89543 16.1046 3 15 3C13.8954 3 13 3.89543 13 5V10ZM5 8C3.89543 8 3 8.89543 3 10C3 11.1046 3.89543 12 5 12H10C11.1046 12 12 11.1046 12 10C12 8.89543 11.1046 8 10 8H5ZM15 13C13.8954 13 13 13.8954 13 15C13 16.1046 13.8954 17 15 17H20C21.1046 17 22 16.1046 22 15C22 13.8954 21.1046 13 20 13H15ZM10 22C8.89543 22 8 21.1046 8 20L8 15C8 13.8954 8.89543 13 10 13C11.1046 13 12 13.8954 12 15V20C12 21.1046 11.1046 22 10 22ZM8 5C8 3.89543 8.89543 3 10 3C11.1046 3 12 3.89543 12 5V7H10C8.89543 7 8 6.10457 8 5ZM3 15C3 16.1046 3.89543 17 5 17C6.10457 17 7 16.1046 7 15V13H5C3.89543 13 3 13.8954 3 15ZM17 20C17 21.1046 16.1046 22 15 22C13.8954 22 13 21.1046 13 20V18H15C16.1046 18 17 18.8954 17 20ZM22 10C22 8.89543 21.1046 8 20 8C18.8954 8 18 8.89543 18 10V12H20C21.1046 12 22 11.1046 22 10Z" fill="%23ffffff"></path></g></svg>');
}

.navbar--github-link {
	width: 32px;
	height: 32px;
	padding: 6px;
	margin-right: 20px;
	margin-left: 6px;
	border-radius: 50%;
	transition: background var(--ifm-transition-fast);
}

.navbar--github-link:hover {
	background: var(--ifm-color-emphasis-200);
}

.navbar--github-link:before {
	content: '';
	height: 100%;
	display: block;
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
		no-repeat;
}

html[data-theme='dark'] .navbar--github-link:before {
	background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
		no-repeat;
}
